body {
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1.5rem;
}

main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  & > * {
    margin: 1rem 0;
  }
}
