.page-title {
  h1 {
    display: inline;
  }

  small {
    display: inline-block;
    margin-left: 0.5rem;
  }
}

.page-authors {
  text-align: left;

  .icon {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
