body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: var(--font-serif);
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

a {
  color: #00e;
}
