{{- $names := slice }}
{{- $multiple := false }}
{{- with .Params.author }}
  {{- $names = slice . }}
{{- else }}
  {{- with .Params.authors }}
    {{- $multiple = true }}
    {{- if reflect.IsSlice . }}
      {{- $names = . }}
    {{- else }}
      {{- $names = slice . }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $sourceName := "" }}
{{- with .Params.source }}
  {{- $sourceName = .name }}
{{- end }}

{{- if or $names $sourceName }}
  <span class="icon">
    {{- with $names }}
    {{- if $multiple }}👥{{- else }}👤{{- end }}
    <span>{{ delimit . ", " }}</span>
    {{- end }}
    {{- with $sourceName }}
      {{- if $names }}
        <span aria-hidden="true">•</span>
      {{- end }}
        📰
      <span>{{ . }}</span>
    {{- end }}
  </span>
{{- end }}
