<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ with resources.Get "js/search-shortcut.js" | minify | fingerprint }}
  <script defer src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
{{ end }}
{{ if eq .Layout "search" }}
  <link rel="stylesheet" href="{{ "pagefind/pagefind-component-ui.css" | relURL }}">
  {{ with resources.Get "css/search.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
  {{ end }}
  {{ with resources.Get "js/search.js" | minify | fingerprint }}
    <script type="module" src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
  {{ end }}
{{ end }}
{{ if and .IsPage (ne .Layout "informational") }}
  {{ partial "article-schema.html" . }}
{{ end }}
