<article class="card">
  {{ if .IsPage }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <small><time class="text-muted" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></small>
  {{ end }}

  <div>
    <a class="card-link" href="{{ .RelPermalink }}" aria-label="{{ .LinkTitle }}"><b>{{ .LinkTitle | strings.Truncate 60 "..." }}</b></a>
    <small>{{ partial "authors.html" . }}</small>
    {{ with .Summary }}
      <p>{{ . | plainify | strings.Truncate 120 "..." }}</p>
    {{ end }}
  </div>

  {{ partial "terms.html" . }}
</article>
