<section>
  {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}

  {{ if .IsPage }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  {{ end }}

  {{ partial "source.html" . }}

  <a href="{{ .RelPermalink }}">
    <b>{{ .LinkTitle | strings.Truncate 60 "..." }}</b>
    <small>{{ partial "authors.html" . }}</small>
    {{ with .Summary }}
      <p>{{ . | plainify | strings.Truncate 120 "..." }}</p>
    {{ end }}
  </a>

  {{ partial "terms.html" (dict "taxonomy" "topics" "page" .) }}
</section>
