{{- /* Renders the terms of the given taxonomy assigned to the page. */}}
{{- with .page.GetTerms .taxonomy }}
  <div
    {{ if eq $.taxonomy "topics" }}style="text-align:center"{{ end }}
  >
    <small>
      {{- range $index, $term := . -}}
        {{- if $index }} • {{ end -}}
        <a href="{{ .RelPermalink }}">
          {{ if eq $.taxonomy "topics" }}
            <span class="tag">{{ .LinkTitle }}</span>
          {{ else }}
            <span class="topic">{{ .LinkTitle }}</span>
          {{ end }}
        </a>
      {{- end }}
    </small>
  </div>
{{- end }}
